:root{
  --verde-musgo: #6B8E23;
  --laranja-queimado: #D08050;
  --bege-claro: #F5E4C3;
  --marrom-amadeirado: #8B5A2B;
  --branco: #fff;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body{
    max-width: 100%;
    height: auto;
}

.links{
    font-family: "Quicksand", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows:1fr 1fr 1fr 1fr;
    justify-items: center ;
   
}

.titulo{
    font-size: xx-large;
    color: var(--verde-musgo);
    font-family: "lora", serif;
   
}


.relogio {
    position: relative;
    display: inline-block;
}

.relogio img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* visor sobreposto */
.visor {
    position: absolute; /* pra ficar por cima da imagem */
    top: 45%; /* ajuste fino conforme seu relógio */
    left: 50%;
    transform: translate(-10%, -50%);
    width: 100%;
    text-align: center;
}

/* centraliza o grupo de inputs */
.grupo_inputs_classe {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 60px;
    font-size: 2.5rem;
    font-family: "JetBrains Mono", monospace;
    background-color: transparent;
    color: var(--branco);
    text-align: center;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}

/* inputs estilizados */
.grupo_inputs_classe input {
    width: 8rem;
    font-size: 7rem;
    font-family: "JetBrains Mono", monospace;
    background-color: transparent;
    color: var(--branco);
    border: none;
    outline: none;
    text-align: center;
}

/* o span ":" */
.grupo_inputs_classe span {
    font-size: 7rem;
    color: var(--branco);
}


.botoes img{
width: 3.75rem;
height: 2.75rem;
cursor: pointer;

}

.botoes button{
   background-color: transparent;
   border: none;
      
}


.textoExplicativo{
    font-family: "lora", serif;
}

.rodape{
    justify-content: center;
    background-color: var(--bege-claro);

}

.copyright{
    font-family: "Quicksand", sans-serif;
}
.corEscura{
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    color: var(--marrom-amadeirado);
}

.corClara{    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    color: var(--verde-musgo);
}


