:root{
  --verde-musgo: #6B8E23;
  --laranja-queimado: #D08050;
  --bege-claro: #F5E4C3;
  --marrom-amadeirado: #8B5A2B;
  --branco: #fff;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body{
    max-width: 100%;
    height: auto;
}

.links{
    font-family: "Quicksand", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows:1fr 1fr 1fr 1fr;
    justify-items: center ;
   
}

.titulo{
    font-size: xx-large;
    color: var(--verde-musgo);
    font-family: "lora", serif;
   
}


.relogio {
    position: relative;
    display: inline-block;
}

.relogio img {
    display: block;
    max-width: 100%;
    height: auto;
}

.picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute; /* pra ficar por cima da imagem */
    top: 45%; 
    left: 10%;
    transform: translate(-10%, -50%);
    width: 100%;
    text-align: center;
    gap: 10px;
  }

  .picker {
    position: relative;
    height: 80px; /* Altura de um item */
    width: 190px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border: none;
    border-radius: 8px;
    background: transparent;
  }
  
  .picker-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
  }
  
  .picker-list li {
    height: 80px; 
    margin-left: -30px;
    line-height: 80px;
    scroll-snap-align: center;
    user-select: none;
    font-size: 6.8rem; /* Bem visível */
    color: var(--branco);
  }

.separador {
    height: 80px; 
    margin-left: -30px;
    line-height: 80px;
    margin-bottom: 15px;
    scroll-snap-align: center;
    user-select: none;
    font-size: 6.8rem; /* Bem visível */
    color: var(--branco); 
}
  
 
.picker::before,
.picker::after {
  content: "";
  position: absolute;
  left: -60px; /* puxa um pouco para a esquerda */
  width: 110%; /* deixa passar um pouco além da borda */
  height: 2px;
  background: var(--branco);
  pointer-events: none;
}

.picker::before {
  top: 0;
}

.picker::after {
  bottom: 0;
}

.botoes img{
width: 3.75rem;
height: 2.75rem;
cursor: pointer;

}

.botoes button{
   background-color: transparent;
   border: none;
      
}


.textoExplicativo{
    font-family: "lora", serif;
}

.rodape{
    justify-content: center;
    background-color: var(--bege-claro);

}

.copyright{
    font-family: "Quicksand", sans-serif;
}
.corEscura{
    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    color: var(--marrom-amadeirado);
}

.corClara{    font-family: "JetBrains Mono", monospace;
    font-weight: 100;
    color: var(--verde-musgo);
}


