/* index.css */

body {
    background-color: var(--fundo-claro); 
    color: var(--marrom-amadeirado);         
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Topo */
  
  .topo_classe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--branco); 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .logo_cozy_tools img {
    height: 80px;
  }
  
  .topo_menu a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: var(--marrom-amadeirado);
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  .topo_menu a:hover {
    color: var(--verde-musgo); 
  }
  
  /* Conteúdo principal */
  .container_cronometro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 0.1rem;
    text-align: center;
  }
  .container_cronometro h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 2rem;
    color: var(--azul-claro);
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
   
    
   
  }

  .shape_cronometro {
    position: relative;
    display: inline-block;
    width: 600px;
    height: auto;
  }
  
  .shape_cronometro img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .tempo_cronometro{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 100;
    color: var(--verde-musgo);
    font-family: 'vt323', monospace;
    z-index: 2;
  }
  
  .botoes button {
    width: 100%;
    height: auto;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: background-color 0.2s, transform 0.1s;
    background-color: var(--laranja-queimado);
    color: var(--branco);
    font-size: 1.2rem;
    font-weight:200;
    font-family: 'vt323', monospace;
    border: 4px solid var(--marrom-amadeirado);
    padding: 12px 20px;
    border-radius: 6px; 
    box-shadow: 4px 4px 0px var(--azul-claro);
    cursor: pointer;
    
  }
  
  .botoes button:hover {
    background-color: var(--azul-claro);
    color: var(--branco);
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0px var(--marrom-amadeirado);
  }
  
  .botoes {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    align-items: center;
    width: 100%;
    max-width: 320px;
  
  }
  
  .como_usar_cronometro{
    margin: 0 auto;
    text-align: left;
  }
  /* Rodapé */
  
  .rodape {
    text-align: center;
    background-color: var(--branco);
    padding: 1rem;
    font-size: 0.9rem;
    border-top: 1px solid var(--verde-musgo);
    margin-top: auto;
  }
  
  .corClara {
    color: var(--verde-musgo);
    font-weight: bold;
  }
  
  .corEscura {
    color: var(--marrom-amadeirado);
  }
  