
/* ajustes
--espaçamento superior da navbar
-- o timer e a imagem devem ter tamanho dinamico
--quando a tela fica bem menor a posição do rodapé e navbar sobrepoe a imagem

*/


body {
  background-color: var(--fundo-claro);
  color: var(--marrom-amadeirado);
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.topo_classe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--branco);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo_cozy_tools img {
  height: 80px;
}

.topo_menu a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: var(--marrom-amadeirado);
  font-weight: 600;
  transition: color 0.3s ease;
}

.topo_menu a:hover {
  color: var(--verde-musgo);
}
.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
}

.container h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 1.9rem;
  color: var(--verde-musgo);
  margin-top: 10rem;
  margin-bottom: 5rem;
}



.relogio {
  position: relative;
  display: inline-block;
}

.relogio img {
  display: block;
  max-width: 100%;
  height: auto;
}

.picker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translate(-10%, -50%);
  width: 100%;
  text-align: center;
  gap: 10px;
}

.picker {
  position: relative;
  height: 80px;
  width: 190px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  -ms-overflow-style: none;
  border: none;
  border-radius: 8px;
  background: transparent;
}

.picker-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
}

.picker-list li {
  height: 80px;
  margin-left: -30px;
  line-height: 80px;
  scroll-snap-align: center;
  user-select: none;
  font-size: 6.8rem;
  color: var(--branco);
}

.separador {
  height: 80px;
  margin-left: -30px;
  line-height: 80px;
  margin-bottom: 15px;
  scroll-snap-align: center;
  user-select: none;
  font-size: 6.8rem;
  color: var(--branco);
}

.picker::before,
.picker::after {
  content: "";
  position: absolute;
  left: -60px;
  width: 110%;
  height: 2px;
  background: var(--branco);
  pointer-events: none;
}

.picker::before {
  top: 0;
}

.picker::after {
  bottom: 0;
}


.botoes button {
  width: 100%;
  height: auto;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.2s, transform 0.1s;
  background-color: var(--laranja-queimado);
  color: var(--branco);
  font-size: 1.2rem;
  font-weight:200;
  font-family: 'vt323', monospace;
  border: 4px solid var(--marrom-amadeirado);
  padding: 12px 20px;
  border-radius: 6px; 
  box-shadow: 4px 4px 0px var(--azul-claro);
  
  
}

.botoes button:hover {
  background-color: var(--azul-claro);
  color: var(--branco);
  transform: translate(2px, 2px);
  box-shadow: 2px 2px 0px var(--marrom-amadeirado);
}

.botoes {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 100%;
  max-width: 320px;

}

.textoExplicativo {
  font-family: "Quicksand", sans-serif;
  text-align: left;
}

.destaque {
  font-weight: bold;
  color: var(--verde-musgo);
  font-family: "Quicksand", sans-serif;
}


